<h1><%= article.title %></h1>
<p>By <%= article.author %></p>
<a href="/articles/<%= article._id %>/edit">Edit</a>
<% for(var i = 0; i < article.content.length; i++) { %>
  <h2><%= article.content[i].title %></h2>
  <p><%= article.content[i].content %></p>
<% } %>
